.card_tl_1
{
	background-image:url(../images/teamlab-1.png);
}
.card_tl_2
{
	background-image:url(../images/teamlab-2.png);
}
.card_tl_3
{
	background-image:url(../images/teamlab-3.png);
}
.card_tl_4
{
	background-image:url(../images/teamlab-4.png);
}
.card_one_piece_1
{
	background-image:url(../images/onepiece-1.png);
}
.card_one_piece_2
{
	background-image:url(../images/onepiece-2.png);
}
.card_one_piece_3
{
	background-image:url(../images/onepiece-3.png);
}
.card_one_piece_4
{
	background-image:url(../images/onepiece-4.png);
}
.card_svalbard_1
{
	background-image:url(../images/svalbard-1.png);
}
.card_svalbard_2
{
	background-image:url(../images/svalbard-2.png);
}
.card_svalbard_3
{
	background-image:url(../images/svalbard-3.png);
}
.card_svalbard_4
{
	background-image:url(../images/svalbard-4.png);
}
.card_yellowstone_1
{
	background-image:url(../images/yellowstone-1.png);
}
.card_yellowstone_2
{
	background-image:url(../images/yellowstone-2.png);
}
.card_yellowstone_3
{
	background-image:url(../images/yellowstone-3.png);
}
.card_yellowstone_4
{
	background-image:url(../images/yellowstone-4.png);
}